html, body {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 0;
}

#page {
  width: 100%;
  display: flex;
}
#app {
  max-width: 25%;
  overflow: auto;
  max-height: 100vh;
  flex-grow: 1;
  padding-left: 1rem;
}

#map {
  max-width: 75%;
  flex-grow: 1;
  height: 80vh;
}

#map-container {
  width: 100%;
  height: 100%;
}

#map-text {
  padding: 1rem;
}
