html, body {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 2rem;
}

#page {
  width: 100%;
  display: flex;
}
#app {
  max-width: 25%;
  overflow: scroll;
  max-height: 100vh;
  flex-grow: 1;
}

#map {
  max-width: 75%;
  flex-grow: 1;
}
